*{
	margin:0;
	padding:0;
	color: #FFF;
}

p#view_titulo{

	padding-top: 2vh;
	padding-left: 2vh;
	font-weight: bold;
	text-align: center;
	background-color: #4E2946; 
	margin: 10vh auto;
	width: 50%;
	height: 10vh;
	border-radius: 10px;
}
#view_info{

	padding-top: 3vh;
	padding-left: 3vh;
	margin: 15vh auto;
	background-color: #3B3B3B;
	width: 50%;
	height: 40vh;
	border-radius:10px;
	font-size: 14px;

}

a{

	margin-left: 50%;
	color: cornflowerblue; 

}