*{
	margin:0;
	padding:0;
	text-align: center;
}


label,input,textarea{
  display:block;
  width:50%;
  text-align:left;
  margin:5vh auto;
}

input[type="submit"]{
	margin-top: 5vh;
	margin-left: 55vh;
	width: 100px;
	height: 35px;
	border:none;
    color: #FFF;
    font-weight: bold;
    background-color: #24A98A;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

input[type="text"]{
	border:1px solid #cbcbcb;
	border-radius: 5px;
	height: 5vh;
	padding-left: 5px;}

textarea{	
	border:1px solid #cbcbcb;
	border-radius: 5px;
	height: 50vh;
	padding-left: 5px;
	padding-top: 5px;
}

label{
	font-weight: bold;
	color: #002143;
}


input[type="text"]:focus{
	border:1px solid cornflowerblue;
}

textarea:focus{
	border:1px solid cornflowerblue;
}
