*{	
	margin: 0;
	padding: 0;
	color: #FFF;
}

header{
	position: relative;
	background-color: #3B3B3B;
	height: 50px;
	padding-top: 10px;
}

h4{
	padding-left: 40%;
}

header p{
	position:absolute;
	right:15%;
	text-decoration: none;
}

header a{
	position:absolute;
	right: 2%;
	/*text-decoration: none;*/
	width: 150px;
}


#nova_nota{
	position: fixed;
    top: 25vh;
    left: 30vh;
    width: 100px;
	height: 35px;
	border:none;
    color: #FFF;
    font-weight: bold;
    background-color: #24A98A;
    border-radius: 5px;
    cursor: pointer;
}
.container{
	background-color: #3B3B3B;
	margin:5vh auto;
	width: 50%;
	height: 150px;
	border-radius: 10px;
}


.accao{
	padding-left: 70%;
	padding-top: 4vh;

}

p#titulo{

	padding-top: 2vh;
	padding-left: 2vh;
	font-weight: bold;

}
p.info{

	padding-top: 3vh;
	padding-left: 2vh;

}

p#s_criar{
	position: relative;
	font: bold 16px Arial;
	background-color: #228E2A;
	color: #FFF
	height: 35px;
	padding: 10px;
}

p#s_excluir{
	font: bold 16px Arial;
	background-color: #C71C1F;
	color: #FFF
	height: 35px;
	padding: 10px;
}

p#s_actualizar{
	font: bold 16px Arial;
	background-color: #365C83;
	color: #FFF
	height: 35px;
	padding: 10px;

}

a#visualizar{

	  font: bold 11px Arial;
	  text-decoration: none;
	  background-color: #158C00;
	  padding:5px 10px;
	  border: none;
	  border-radius: 2px;
}

a#editar{
	  font: bold 11px Arial;
	  text-decoration: none;
	  background-color: #365C83;
	  padding:5px 12px;
	  border: none;
	  border-radius: 2px;
}

a#eliminar{

	  font: bold 11px Arial;
	  text-decoration: none;
	  background-color: #E00E1F;
	  padding:5px 10px;
	  border: none;
	  border-radius: 2px;
}