/**{
  margin:0;
  padding:0;
  box-sizing: 0;
}
*/
label{
  color:#FFF;
  font-weight: bold;
}

a{
  color: #8A8888;
  font-size: 16px;
}

a:hover{
  color: #28A4E2;
}

input{
   border: 1px solid #FFF;
}


.container{
  /*background-color: #37002A;*/
  border: 1px solid #cbcbcb;
  width: 250px;
  margin: 15vh auto;
  padding: 30px 30px;
  border-radius: 10px;
}


form{
  margin-top:30px;
  margin-bottom:40px;

}

input{
  border: 1px solid #cbcbcb;
  display:block;
  width:100%;
  text-align:left;
  margin-top: 10px;
}

input{
  width:90%;
  padding:8px;

  /*margin-top: 10px;*/
}

#submit{
    width:97%;
    margin-top:20px;
    border-radius: 10px;
    border:none;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    background-color: #24A98A;
    cursor: pointer;
}
#forgot-pass{
  font-size: 14px;
  text-align: right;
  display: block;
  margin-top:10px;
}

input:focus{
  border:1px solid cornflowerblue;
}

#submit:hover{
  background-color: #10634F;
}

#select{
  width: 97%;
}

label{
  color: #002143;
}

p{
  color: #E91111;
  text-align: center;
}